    body {background-color: #2988bc;}

    .mainTitle {
        color: black;
        font-size: 200%;
        text-align: center;
        font-family: 'Cinzel', sans-serif;
        font-style: bold;
        position: absolute;
        top: .25em;
        left: 0em;
        width: 100%;
        margin-top: 0em;
        }
    .titleImg {
        position: absolute;
        background-color: skyblue;
        height: 5em;
        top: -3em;
        opacity: 0.3;
        background-image: url(stockphoto.jpg);
        }
    .titlequote {
       text-align: center;
       font-family: times new roman;
       font-size: 30px; 
    }
    .navBar {
        position: relative;
        list-style-type: none;
        margin: 0em;
        padding: 0em;
        overflow: hidden;
        top:3em;
        width: 100%;
        background-color:#2f496e;
    }
    .navElm {
        float: left;
        font-size: 14pt;
    }
    .a {
        display: block;
        color: #F4eade;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;

    }

    .a:hover{
        background-color: #ED8C72;
    }

    .pageInfo {
        background-color: #F4eade;
        padding: 1em;
        position: relative;
        align-self: center;
        top: 5em;
        width: 90%;
        left: 5%;
        border: 10px;
        border-color: black;
        border-radius: 10px;
    }
    .title{
        background-color: #ED8C72;
    }
    .projTitle {
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 40pt;
        margin-bottom: 0em;
    }
    .porjSubTitle {
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-size: 32pt;
        margin-top: 0em;
    }
    .imgBox {
        background-color: #efd9c8;
        padding: 10px;
        margin: 10px;
    }
    .frontPageImg {
        height: 13em;
    }
    .info {
        padding: 2px;
    }
    .groupInfo{
        text-align: center;
        font-size: 12px;
    }
    .bottemMargin {
        margin: 8em;
    }

    .thesisText {
        margin: 1em;
        padding: 1em;
        background-color: #efd9c8;
        font-size: 24pt;
    }
    .thesisImg {
        position: relative;
        left: 30%;
        width: 40%;
    }